<div class="main-content">
  <div class="container-fluid">
      <div class="row text-center">
            <div class="col-md-6 col-sm-3">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">verified_user</i>
                            </div>
                            <p class="card-category"></p>
                            <h3 class="card-title float-left" style="padding-bottom: 0px 15px;"><b>Welcome Back Dear</b> Admin!</h3>
                        </div>
                        <div class="card-footer">
                              <!-- <button mat-button (click)="deleteTask('s4df56s4dfs6d6sdf54')">Tester!!!</button> -->
      
                            <!-- <div class="stats">
                                <i class="material-icons text-danger">warning</i>
                                <a href="javascript:void(0)">Get More Space...</a>
                            </div> -->
                        </div>
                    </div>
                </div>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">person_pin</i>
                      </div>
                      <p class="card-category">System Users</p>
                      <h3 class="card-title">{{users.data.length}}</h3>
                  </div>
                  <div class="card-footer">
                        <!-- <button mat-button (click)="deleteTask('s4df56s4dfs6d6sdf54')">Tester!!!</button> -->

                      <!-- <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">Get More Space...</a>
                      </div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">library_books</i>
                      </div>
                      <p class="card-category">Open Tasks</p>
                      <h3 class="card-title">{{tasks.data.length}}</h3>
                  </div>
                  <div class="card-footer">
                      <!-- <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">message</i>
                      </div>
                      <p class="card-category">Messages</p>
                      <h3 class="card-title">75</h3>
                  </div>
                  <div class="card-footer">
                      <!-- <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-facebook"></i>
                      </div>
                      <p class="card-category">Followers</p>
                      <h3 class="card-title">+245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-primary">
                        <h4 class="card-title mt-0 text-center"> System Tasks</h4>
                        <p class="card-category text-center"> Filter Tasks by Status</p>
                        <p class="card-category text-center"> Total Tasks: {{tasks.data.length}}</p>


                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <!-- <span class="nav-tabs-title">Tasks:</span> -->
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                      <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                          <i class="material-icons">fiber_new</i> New
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">gavel</i>   Work
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                            <i class="material-icons">warning</i>  Problem
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                        <a mat-button class="nav-link" href="#almost" data-toggle="tab">
                                                <i class="fa fa-hourglass-half" aria-hidden="true"></i>  Almost
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                            <a mat-button class="nav-link" href="#completed" data-toggle="tab">
                                                    
                                                    <i class="material-icons">assignment_turned_in</i>  Completed
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                              <table class="table">
                                  <tbody>
                                      <tr *ngFor="let task of tasks.data; let index = index;">
                                        <td  *ngIf="task.status === 0">
                                              <div class="form-check float-left">
                                                    <i class="material-icons" >fiber_new</i>
                                              </div>
                                          </td>
                                          <td class="float-left" *ngIf="task.status === 0">{{task.title}}</td>
                                          <td class="td-actions float-right" *ngIf="task.status === 0">
                                                <button mat-raised-button type="button" (click)="openInfoDialog(task)" matTooltip="Open Task Details" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">message</i>
                                                </button>
                                              <button mat-raised-button type="button" matTooltip="Complete Task" (click)="completeTask(task._id)" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">check</i>
                                              </button>
                                              <button mat-raised-button type="button"  (click)="deleteTask(task._id)" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>

                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="tab-pane" id="messages">
                                <table class="table">
                                        <tbody>
                                            <tr *ngFor="let task of tasks.data; let index = index;">
                                              <td  *ngIf="task.status === 1">
                                                    <div class="form-check float-left">
                                                            <i class="fa fa-spinner" aria-hidden="true"></i>
                                                    </div>
                                                </td>
                                                <td class="float-left" *ngIf="task.status === 1">{{task.title}}</td>
                                                <td class="td-actions float-right" *ngIf="task.status === 1">
                                                        <button mat-raised-button type="button" matTooltip="Open Task Details" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon"
                                                        (click)="openInfoDialog(task)">
                                                            <i class="material-icons">message</i>
                                                        </button>
                                                    <button mat-raised-button type="button" matTooltip="Complete Task" (click)="completeTask(task._id)" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">check</i>
                                                    </button>
                                                    <button mat-raised-button type="button" (click)="deleteTask(task._id)" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                          </div>
                          <div class="tab-pane" id="settings">
                                <table class="table">
                                        <tbody>
                                            <tr *ngFor="let task of tasks.data; let index = index;">
                                              <td  *ngIf="task.status === 2">
                                                    <div class="form-check float-left">
                                                            <i class="material-icons">warning</i>
                                                    </div>
                                                </td>
                                                <td class="float-left" *ngIf="task.status === 2">{{task.title}}</td>
                                                <td class="td-actions float-right" *ngIf="task.status === 2">
                                                        <button mat-raised-button type="button" matTooltip="Open Task Details" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon"
                                                        (click)="openInfoDialog(task)">
                                                            <i class="material-icons">message</i>
                                                        </button>
                                                    <button mat-raised-button type="button" matTooltip="Complete Task" (click)="completeTask(task._id)" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">check</i>
                                                    </button>
                                                    <button mat-raised-button type="button" (click)="deleteTask(task._id)" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                          </div>
                          <div class="tab-pane" id="almost">
                                <table class="table">
                                        <tbody>
                                            <tr *ngFor="let task of tasks.data; let index = index;">
                                              <td  *ngIf="task.status === 3">
                                                    <div class="form-check float-left">
                                                            <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                                                    </div>
                                                </td>
                                                <td class="float-left" *ngIf="task.status === 3">{{task.title}}</td>
                                                <td class="td-actions float-right" *ngIf="task.status === 3">
                                                        <button mat-raised-button type="button" matTooltip="Open Task Details" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon"
                                                        (click)="openInfoDialog(task)">
                                                            <i class="material-icons">message</i>
                                                        </button>
                                                    <button mat-raised-button type="button" matTooltip="Complete Task" (click)="completeTask(task._id)" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">check</i>
                                                    </button>
                                                    <button mat-raised-button type="button" (click)="deleteTask(task._id)" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                          </div>
                          <div class="tab-pane" id="completed">
                                <table class="table">
                                        <tbody>
                                            <tr *ngFor="let task of tasks.data; let index = index;">
                                              <td  *ngIf="task.status === 4">
                                                    <div class="form-check float-left">
                                                            <i class="material-icons">assignment_turned_in</i>
                                                    </div>
                                                </td>
                                                <td class="float-left" *ngIf="task.status === 4">{{task.title}}</td>
                                                <td class="td-actions float-right" *ngIf="task.status === 4">
                                                    <button mat-raised-button type="button" matTooltip="Open Task Details" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon"
                                                    (click)="openInfoDialog(task)">
                                                        <i class="material-icons">message</i>
                                                    </button>
                                                    <button mat-raised-button type="button" (click)="deleteTask(task._id)" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">New Memebers</h4>
                      <p class="card-category">New Memebers Table</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>
                              <th>Name</th>
                              <th>Status</th>
                              <th>Join Date</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let user of users.data ; let index = index ">
                                  <td>{{index +1}}</td>
                                  <td>{{user.name}}</td>
                                  <td>{{getStatName(user.status)}}</td>
                                  <td>{{dateString(user.joindate)}}</td>
                              </tr>
                              
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Daily Sales</h4>
                    <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated 4 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Email Subscriptions</h4>
                    <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Completed Tasks</h4>
                    <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
